{% extends "base.html" %}
{% load i18n %}
{% load embed_video_tags %}


{% block meta_title %}{% trans "Timelapse" %}{% endblock %}
{% block title %}{% trans "Timelapse" %}{% endblock %}
{% block title-tagline %}{{ project.name }}{% endblock %}
{% block details %}
<p><strong>image capture interval:</strong> {{ project.interval }}</h3>
<p><strong>total number of frames:</strong> {{ project.number_frames }}</p>
<p><strong>timelapse runtime:</strong> {{ project.timelapse_runtime }} </p>
<p><strong>calculated video duration:</strong> {{ project.duration_video }} </p>
<p><strong>video file?:</strong> {{ project.video_file_exists }} </p>
{% endblock %}

{% block commands %}
    <p><a href="{% url "timelapse:image_capture" project.id %}">CAPTURE IMAGE</a></p>
    <p><a href="{% url "timelapse:capture_timelapse" project.id %}">CAPTURE TIMELAPSE</a></p>
    <p><a href="{% url "timelapse:create_timelapse" project.id %}">CREATE VIDEO</a></p>
    <p><a href="{% url "timelapse:push_timelapse" project.id %}">PUSH TO VIMEO</a></p>
    <p><a href="{% url "timelapse:capture_push_timelapse" project.id %}">CAPTURE AND PUSH TIMELAPSE</a></p>
{% endblock %}

{% block main %}

{% if project.video_file_exists %}

    <h2>Local Video</h2>                                                                                 
    <video class="embed-responsive" width="100%" controls>                                
        <source src="{{ MEDIA_URL }}/timelapse_video/{{project.name}}/{{project.name}}.mp4" type="video/mp4">                                                                                         
    Your browser does not support the video tag.                                                   
    </video>                                                                                       

{% else %}                                                                                         
    <h2>Local Video</h2>                                                                                 
    <p>No Video.</p>                                                                               
{% endif %}

{% if project.video %}

    {% for vid in project.video %}
        <h2>Video <small>{{ vid.start_date }} &mdash; {{ vid.end_date }}</small></h2>
        {% video vid.video "medium"  %}
    {% endfor %}
{% else %}
    <h2>Video</h2>
    <p>No Hosted Video.</p>
{% endif %}

{% if project.latest_image %}
    <h2>Latest Image <small>{{ project.latest_image.date_created }}</small></h2>
        <img class="img-responsive" src="{{ project.latest_image.image.url }}" />
{% else %}
    <h2>Latest Image</h2>
    <p>No Images.</p>
{% endif %}

{% endblock %}
